body {
    background: #eee;
}
#frm {
    border: solid gray 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
}
#btn {
    color: #fff;
    background: #337ab7;
    /*padding: 5px;*/
    /*margin-left: 69%;*/
    padding: 14px 20px;
    margin: 8px 0;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}